* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    margin: 0 auto;
    text-align: center;
 
}
.grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    column-gap: 2px;
    width: 45%;
    height: 100px;
    background-color: #0d6efd;
    
}


.case {
    border-radius: 50px;
    border: 1px solid blue;
    color: white;
    display: flex;
    align-items:center;
    justify-content : center;
 
}

.letter {
    color: white;
    font-size: 70px;
}

.letters_guess {
    color: white;
    font-size: 70px;
}

.jaune {
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 60px;
}



.red {
    background-color: red;
    border: 1px solid red;
    border-radius: 60px;
}